@font-face {
    font-family: 'yekanBakh-fat';
    src: url(./assets/fonts/YekanBakh.Fat.ttf);
}

@font-face {
    font-family: 'yekanBakh-light';
    src: url(./assets/fonts/YekanBakh.Light.ttf);
}

@font-face {
    font-family: 'yekanBakh-regular';
    src: url(./assets/fonts/YekanBakh.regular.ttf);
}

@font-face {
    font-family: 'iran-sans';
    src: url(./assets/fonts/iran-sans.ttf);
}
